@using Web.Core.Dto;
@using Web.Core.Util;
@model List<UserDto>
@{
    ViewBag.Title = "Tài khoản quản trị";
}

<script>
    $("#menu_user").addClass("menu_active");
</script>


<a href="/Administrator/User/Add" class="btn btn-primary btn-sm btn-icon-split ml-4 mb-3">
    <span class="icon text-white-50">
        <i class="fa fa-plus"></i>
    </span>
    <span class="text">Thêm mới tài khoản</span>
</a>


<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tài khoản</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên tài khoản</th>
                            <th>Họ và tên</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Email</th>
                            <th>Ngày đăng nhập gần nhất</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên tài khoản</th>
                            <th>Họ và tên</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Email</th>
                            <th>Ngày đăng nhập gần nhất</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Dob</td>
                                <td>@item.Email</td>
                                <td>@(item.LastLogin?.ToString("HH:mm dd-MM-yyyy")??"")</td>
                                <td style="white-space:nowrap">

                                    <a href="/Administrator/User/Update?id=@item.UserName" class="btn btn-primary btn-circle btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button onclick="confirmDelete(@item.UserName)" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    function confirmDelete(id) {
        if (confirm("Xác nhận xóa")) {
            location.href = "/Administrator/User/Delete?id=" + id;
        }
    }
</script>