@using Web.Core.Dto;
@using Web.Watch.Service;
@model WebsiteDto
@{
    List<ArticleDto> articles = UtilService.GetArticle();
}
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-1">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="font-weight-bold text-dark mb-4">

                <a href="/" class="text-decoration-none">
                    <img src="@Model.Logo" class="img-fluid" alt="LOGO" />
                </a>
            </h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-danger mr-3"></i>@Model.Address</p>
            <p class="mb-2"><i class="fa fa-envelope text-danger mr-3"></i>@Model.Email</p>
            <p class="mb-0"><i class="fa fa-phone text-danger mr-3"></i>@Model.PhoneNumber - @Model.Fax</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Thông tin</h5>
                    <div class="d-flex flex-column justify-content-start">
                        @foreach (var item in articles)
                        {
                            <a class="text-dark mb-2" href="/bai-viet/@item.Alias">
                                <i class="fa fa-angle-right mr-2"></i>
                                @item.Title
                            </a>
                        }
                    </div>
                </div>
                <div class="col-md-8 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">@Model.Name</h5>
                    <p>@Model.UserDef1</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-3">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
            <a class="text-dark font-weight-semi-bold" href="#">@Model.Copyright.</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="~/Plugins/Bootrapnew/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->